In [81]:
# LISTS
#ordered sequences

In [11]:
mylist=[1,2,3]

In [12]:
mylist

[1, 2, 3]

In [13]:
list1=['string',101,22.2]

In [14]:
list1

['string', 101, 22.2]

In [15]:
len(list1)

3

In [16]:
list1[1]

101

In [17]:
list1[1:]

[101, 22.2]

In [18]:
mylist+list1

[1, 2, 3, 'string', 101, 22.2]

In [20]:
list1[0]="abc"

In [21]:
list1

['abc', 101, 22.2]

In [24]:
list1.append("4th") #append and saves that element
#adds an item

In [23]:
list1

['abc', 101, 22.2, '4th']

In [27]:
list1.pop()  #removes an item and  saves the

'4th'

In [28]:
list1

['abc', 101, 22.2]

In [29]:
popped_item=list1.pop()

In [30]:
popped_item

22.2

In [32]:
list1.pop(1)

101

In [33]:
list1

['abc']

In [41]:
list1[0]=1

In [42]:
list1

[1]

In [43]:
list1.append(123)

In [44]:
list1

[1, 123]

In [46]:
list1.pop(0)

1

In [47]:
list1

[123]

In [48]:
mylist

[1, 2, 3]

In [49]:
mylist=['a','e','x','b','c']
numlist=[4,1,8,3]

In [55]:
mylist.sort()

In [56]:
mylist

['a', 'b', 'c', 'e', 'x']

In [57]:
numlist.sort()
numlist

[1, 3, 4, 8]

In [58]:
numlist.reverse()

In [59]:
numlist

[8, 4, 3, 1]

In [60]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
elements = slice(4 ,10 ,1)
list2 = list1[elements]
print(list2)

[5, 6, 7, 8, 9, 10]

In [64]:
a=[1,1,[1,2]]  #nested list

In [62]:
a

[1, 1, [1, 2]]

In [63]:
a[2][1]

2

In [71]:
str="strings are cool"

(str[::-1])

'looc era sgnirts'

In [68]:
a[::-1]

[[1, 2], 1, 1]

In [69]:
a

[1, 1, [1, 2]]

In [72]:
str

'strings are cool'

In [73]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [74]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [75]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

In [76]:
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [78]:
my_list.clear()

In [79]:
my_list

[]

In [80]:
#DICTIONARIES

In [84]:
mydict={'key1':'value1','key2':'value2'}

In [85]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [86]:
mydict['key2']

'value2'

In [87]:
prices={'apple':201,'oranges':1.99,'milk':25}

In [88]:
prices

{'apple': 201, 'oranges': 1.99, 'milk': 25}

In [90]:
prices['apple']

201

In [101]:
d1={'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [93]:
d1['k1']

123

In [94]:
d1['k3']

{'insidekey': 100}

In [95]:
d1['k3']['insidekey']

100

In [97]:
d1['k2'][2]

2

In [103]:
mylist2=d1['k2']

In [104]:
mylist2

[0, 1, 2]

In [106]:
mylist2[1]

1

In [107]:
d1['k4']=300

In [108]:
d1

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}, 'k4': 300}

In [110]:
d1.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [111]:
d1.values()

dict_values([123, [0, 1, 2], {'insidekey': 100}, 300])

In [112]:
d1.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insidekey': 100}), ('k4', 300)])

In [113]:
#TUPLES

In [114]:
#TUPLES ARE IMMUTABLE...CANNOT be CHANGED.

In [116]:
t=(1,2,3)
type(t)

tuple

In [117]:
mylist3=[1,2,3]

In [118]:
t=('one',2)

In [119]:
t

('one', 2)

In [121]:
t[0]

'one'

In [122]:
t[-1]

2

In [123]:
t=('a','a','b')

In [124]:
t

('a', 'a', 'b')

In [125]:
t.count('a')

2

In [126]:
 t.index('a')

0

In [127]:
t.index('b')

2

In [129]:
#SETS

In [131]:
#unorded collections
#unique elements

In [132]:
myset=set()

In [133]:
myset.add(1)

In [134]:
myset.add(2)

In [135]:
myset

{1, 2}

In [136]:
myset.add(2)

In [137]:
myset

{1, 2}

In [138]:
mylist=[1,1,1,1,1,1,1,2,2,2,3,3,3,3]

In [139]:
set(mylist)

{1, 2, 3}

In [141]:
#BOOLEANS

In [142]:
True

True

In [144]:
1==1

True

In [146]:
1!=1

False

In [147]:
b=None

In [148]:
b

In [149]:
type(b)

NoneType

In [150]:
1==b

False

In [151]:
None==b

True

In [152]:
#I/O with basic files

In [155]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [3]:
myfile=open('myfile.txt')

In [4]:
pwd   #location of the notebook

'C:\\Users\\jajmt'

In [5]:
myfile=open('myfile.txt')

In [6]:
myfile

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [8]:
myfile.read()  #the cursor reaches its ends

''

In [9]:
myfile.seek(0)  #to m

0

In [10]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [11]:
pwd

'C:\\Users\\jajmt'

In [12]:
myfile.close()

In [13]:
pwd

'C:\\Users\\jajmt'

In [1]:
 pwd

'C:\\Users\\jajmt'

In [7]:
with open('myfile.txt') as my_new_file:
    contents=my_new_file.read()  
#no need to close the file

In [8]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [18]:
with open('myfile.txt',mode='r') as myfile:
    contents=myfile.read()  #read mode

In [19]:
myfile.seek(0)
contents

ValueError: I/O operation on closed file.

In [20]:
with open('myfile.txt',mode='w') as myfile:
    contents=myfile.read()

UnsupportedOperation: not readable

In [28]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [29]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [30]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')  #append

In [31]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [32]:
with open('ahgadjasjfhsecbye.txt',mode='w') as f:
    f.write('I created this file!')

In [33]:
with open('ahgadjasjfhsecbye.txt',mode='r')as f:
    print(f.read())

I created this file!

In [35]:
#Comparison Operators

In [37]:
2==3

False

In [38]:
2<=3

True

In [40]:
a=1

In [41]:
a==1

True

In [42]:
a==2

False

In [43]:
'2'==2

False

In [46]:
2.1==2.2

False

In [47]:
'Hello'=='hello'

False

In [48]:
3!=3

False

In [51]:
4!=4.0

False

In [52]:
5.0==5

True

In [53]:
#Logical Operators

In [54]:
1<2

True

In [56]:
21<3

False

In [59]:
1<2>3

False

In [61]:
1<2 and 2<3

True

In [63]:
('h'=='h') and 2==2

True

In [64]:
('h'=='h') or 2==2

True

In [67]:
('h'=='h') & 2==2 #AND

False

In [68]:
not 1==1

False

In [72]:
 not 400>5000

True

In [73]:
2<3>10

False

In [76]:
#Conrol Flow in Statements
#if, for, while

In [78]:
if True:
    print('its true')

its true

In [80]:
if 3>2:
    print ("true")

true

In [83]:
hungry =True

if hungry:
    print("food please")

food please

In [86]:
hungry =False

if hungry:
    print("food please")
else:
    print("no food")

no food

In [87]:
loc='bank'

if loc=='auto shop':
    print("cars are cool")
elif loc=='bank':
    print("money is cool")
else: 
    print("not much")

money is cool

In [88]:
#FOR LOOP
#iterate over the object

In [89]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [125]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [91]:
for num in mylist:
    print(num+4)

5
6
7
8
9
10
11
12
13
14

In [92]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [94]:
for num in mylist:
    if num%2==0:
        print(num)
    else:
        print(f'odd numbers:{num}')

odd numbers:1
2
odd numbers:3
4
odd numbers:5
6
odd numbers:7
8
odd numbers:9
10

In [97]:
list_sum=0

for num in mylist:
    list_sum=list_sum+num
print(list_sum)

55

In [111]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [113]:
#Tuple unpacking

mylist4=[(1,2)(3,4),(5,6),(7,8)]

#refer

<>:3: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:3: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-113-5a45f4b7044e>:3: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  mylist4=[(1,2)(3,4),(5,6),(7,8)]

TypeError: 'tuple' object is not callable

In [114]:
d3={'k1':1,'k2':2,"k3":3}

In [116]:
for item in d3:
    print(item)

k1
k2
k3

In [118]:
for key,value in d3.items():
    print(key,value)

k1 1
k2 2
k3 3

In [119]:
for item in d3.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [121]:
for item in d3.values():
    print(item)
    
#dictionaries are unordered.

1
2
3

In [123]:
for a in 'hello World':
    print("cool")

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [126]:
#WHILE LOOPS

In [128]:
# while condition:
#     do this...
#Continues to execute while this condition is true.
#else:
      #do this...

In [137]:
x=0

while x<5:
    print(f'the current value of x is {x}')
    #x=x+1 
    x+=1
else:
        print("x isn't less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x isn't less than 5

In [138]:
#break: breaks the current loop.
#continue: goes to the top of the current loop.
#pass:does nothing at all.

In [145]:
x1=[1,2,3]

for item in x1:
    #comment
    pass #does nothing 

print("end of my script")

end of my script

In [147]:
mystring1="Sammy"

In [154]:
for letter in mystring1:
    if letter=="a":
        continue
    print(letter)
#a is not printed but the loop continues

S
m
m
y

In [159]:
x=0

while x<5:
    if x==2:
        break
    print(x)
    x=x+1

0
1

In [160]:
#useful operators

In [161]:
mylist5=[1,2,3]

In [163]:
#range

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [167]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [170]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [172]:
index_count=0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [176]:
index_count=0
word="abcde"

for letter in word:
    print(word[index_count])  #prints word at index count.
    index_count+=1

a
b
c
d
e

In [177]:
#enumerate function

word="abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [188]:
mylist1=[1,2,3,4,5,6]
mylist2=['a','b','c']

In [189]:
zip(mylist1,mylist2)

In [190]:
for item in zip(mylist1,mylist2):
    print(item)
    
#zips 2 lists and pairs it up

(1, 'a')
(2, 'b')
(3, 'c')

In [191]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [196]:
x in [1,2,3]

True

In [197]:
x

2

In [198]:
type(x)

int

In [204]:
d4={'mykey':202}

202 in d4.keys()

False

In [203]:
202 in d4.values()

True

In [205]:
mylist=[10,20,30,40,100]

In [206]:
min(mylist)

10

In [207]:
max(mylist)

100

In [208]:
#RANDOM

In [209]:
from random import shuffle

In [210]:
#random is a library

In [211]:
mylist=[3,4,5,6,7,8,9,10]

In [212]:
shuffle(mylist)

In [213]:
mylist

[4, 6, 7, 3, 9, 10, 5, 8]

In [214]:
from random import randint

In [217]:
randint(0,100)   #returns a random int

65

In [218]:
mynum=randint(0,10)

In [219]:
mynum

6

In [220]:
type(mynum)

int

In [221]:
#how to accept user input

In [223]:
result=input('Enter a number here:')

Enter a number here:51

In [224]:
result

'51'

In [225]:
#LIST COMPREHENSIONS

In [226]:
#quickly create lists

In [238]:
mystring="hello"

In [239]:
mylist6=[]

for letter in mystring:
    mylist6.append(letter)

In [240]:
mylist6

['h', 'e', 'l', 'l', 'o']

In [243]:
mylist7 = [letter for letter in mystring]

In [244]:
mylist7

['h', 'e', 'l', 'l', 'o']

In [245]:
mylist=[x for x in 'word']

In [246]:
mylist

['w', 'o', 'r', 'd']

In [249]:
mylist = [num**2 for num in range(0,11)]

#flattening out the for loop

In [250]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [255]:
mylist8 = [x**2 for x in range(0,11) if x%2==0]

In [256]:
mylist8

[0, 4, 16, 36, 64, 100]

In [259]:
celcius=[0,10,20,34.5]

fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [260]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [263]:
fahrenheit=[]
    
for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [264]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [267]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]
#ordering is different than above. 
#so its nor preferrable.

In [268]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [271]:
mylist=[]

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [272]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [274]:
mylist9=[x*y for x in [2,4,6] for y in [1,10,1000]]

In [275]:
mylist9

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]