In [2]:
mylist=[1,2,3]

In [3]:
mylist.append(4)

mylist

In [4]:
mylist

[1, 2, 3, 4]

In [5]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [6]:
mylist.pop()

4

In [7]:
mylist

[1, 2, 3]

In [1]:
#FUNCTIONS

In [8]:
#def keyword

In [11]:
def name_of_function(name):
    
    print("hello"+name)

In [13]:
name_of_function("Jose")

helloJose

In [26]:
def add_func(n1,n2):
    """docstring for add"""
    return n1+n2

In [27]:
add_func(7,8)

15

In [28]:
res1=add_func(7,8)

In [32]:
res1

15

In [33]:
print(add_func.__doc__)

docstring for add

In [34]:
def greet(name, msg="Good morning!"):
    """
    This function greets to
    the person with the
    provided message.

    If the message is not provided,
    it defaults to "Good
    morning!"
    """

    print("Hello", name + ', ' + msg)


greet("Kate")
greet("Bruce", "How do you do?")

Hello Kate, Good morning!
Hello Bruce, How do you do?

In [36]:
#Python Arbitrary Arguments

In [40]:
#when we don't know the number of arguments passed
#into a function.
#use * for that.

In [38]:
def greet(*names):
    for x in names:
        print("Hello",x)
greet("a1","a2","a3")

Hello a1
Hello a2
Hello a3

In [39]:
type(res1)

int

In [41]:
2%2

0

In [42]:
3%2

1

In [43]:
41%40

1

In [45]:
#even odd

In [54]:
def even_odd_check(n1):
    if n1%2==0:
        print(f'{n1} is even number')
    else:
        print(f' {n1} is odd number')

In [57]:
even_odd_check(80)

80 is even number

In [58]:
def even_check(n1):
    res2=n1%2==0
    return res2

In [59]:
even_check(4)

True

In [60]:
#even check in a list

In [89]:
n1=[2,3]
def even_list(n1):
    for x in n1:
        if x%2==0:
            return True
        
        else:
            pass
        
        
    return False #outside the if else

In [90]:
even_list(n1)

True

In [91]:
even_list([1,3])

False

In [92]:
#Return all the even numbers in a list

In [106]:
def even_ret(list1):
    even_nums=[]
    
    for x in list1:
        if x%2==0:
             even_nums.append(x)
            #x=x+1
        else:
            pass
    return even_nums

In [107]:
even_ret([1,2,3,4,5,6])

[2, 4, 6]

In [108]:
#TUPLES UNPACKINH WITH FUNCTIONS

In [109]:
#In packing, we place value into a new tuple
#while in unpacking we extract those values back into variables.

In [110]:
1,

(1,)

In [111]:
(1,)

(1,)

In [112]:
type(1,)

int

In [113]:
type((1,))

tuple

In [117]:
x,y=(1,2)  #splitting=tuple unpacking

In [118]:
x

1

In [119]:
y

2

In [121]:
type((10,20,30))

tuple

In [122]:
numbers=10,20,30
print(type(numbers))

<class 'tuple'>

In [126]:
#swap 2 numbers
#using tuple unpacking

x=10
y=20

print(x,y)

(x,y)=(y,x)
print(x,y)

10 20
20 10

In [127]:
r, g, *other = (192, 210, 100, 0.5)

In [129]:
print(r, g, *other )

192 210 100 0.5

In [136]:
work_hours=[('a',100),('b',400),("c",800)]

def hours_check(work_hours): 
    current_max=0
    emp_ofthemonth=''
    for x,y in work_hours:
        if y>current_max:
            current_max=y
            emp_ofthemonth=x
        else:
            pass
    return (x,y)

In [137]:
hours_check(work_hours)

('c', 800)

In [1]:
#Interactions between functions

In [2]:
 example=[1,2,3,4,5,6,7]

In [3]:
from random import shuffle

In [11]:
result=shuffle(example)

In [12]:
result

In [13]:
#a game example

In [19]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [20]:
shuffle_list(example)

[3, 4, 6, 5, 2, 7, 1]

In [ ]:
mylist=['','o','']

In [ ]:
shuffle_list(mylist)

In [ ]:
def player_guess():
    
    guess=''
    while guess not in ['0','1','2']:
        guess=input("Pick a number:0,1,2")
    return int(guess)

In [ ]:
player_guess()

In [ ]:
player_guess()

In [ ]:
#one more time lecture 47

In [1]:
#*args (Non Keyword Arguments)
#**kwargs (Keyword Arguments)

In [18]:
#returns 5% of the sum of a and b.

def myfunc(a,b,c=0,d=0):
    return sum((a,b,c,d))*0.05

In [19]:
myfunc(40,60)

5.0

In [48]:
def myfunc1(*args11):     #takes multiple arguments
    return sum(args11)*0.05

#Treated as a tuple inside a function
#args is preffered but any variable can be used

In [50]:
myfunc1(10,12,14)

1.8

In [31]:
#**kwargs builds dictionary of key-value pairs

In [42]:
def myfunc2(**kwargs):
    print(kwargs)  #prints a dictionary
    if 'fruit' in kwargs:
        print("My fruit is {}".format(kwargs['fruit']))
    else:
        print("none")

In [43]:
myfunc2(fruit="apple")

{'fruit': 'apple'}
My fruit is apple

In [44]:
myfunc2(fruit="apple",veggie="lettuce")

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit is apple

In [45]:
def myfunc3(*args,**kwargs):
    print("I would like {} {}".format(args[0],kwargs['food']))

In [46]:
myfunc3(10,20,30,fruit="orange",food="eggs",animal="dogs")

I would like 10 eggs

In [58]:

def myfunc4(*args):
    list1=[]
    for x in args:
        if x%2==0:
            list1.append(x)
        else:
            pass
    return list1

In [62]:
myfunc4(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

In [63]:
#coding excercise 19

In [74]:
def myfunc5(word):
    out=[]
    for i in range(len(word)):
        if i%2==0:
            out.append(word[i].lower())
        else:
            out.append(word[i].upper())
    return ''.join(out)

In [76]:
myfunc5("iRaSaSddddIO")

'iRaSaSdDdDiO'

In [78]:
#Functions practice excercies
#lecture 50

In [79]:
#1.

def lesser_of_two_evens(n1,n2):
    if n1%2==0 and n2%2==0:
        if n1<n2:
            return n1
        else:
            return n2
    else:
        if n1>n2:
            return n1
        else:
            return n2

In [81]:
lesser_of_two_evens(2,5)

5

In [122]:
#2.
def animal_crackers(text):
    wordlist=text.lower().split()
    print(wordlist)
    print(wordlist[0][0])
    print(wordlist[1])
    if (wordlist[0][0]==wordlist[1][0]):
        return True
    else:
        return False

In [123]:
animal_crackers("aaaaaa Ahhh")

['aaaaaa', 'ahhh']
a
ahhh

True

In [105]:
 #3.
def makes_twenty(n1,n2):
    if n1+n2==20 or ( n1==20 or n2==20):
        return True
    else:
        return False

In [106]:
makes_twenty(20,20)

True

In [107]:
makes_twenty(10,10)

True

In [109]:
makes_twenty(100,20)

True

In [111]:
#level1
'macdonald'.capitalize()

'Macdonald'

In [161]:
#1

def old_macdonald(name):
    first_letter=name[0]
    bet=name[1:3]
    fth=name[3]
    last=name[4:]
     return first_letter.upper()+th.capitalize()+last

IndentationError: unexpected indent (<ipython-input-161-b7383df6cae0>, line 8)

In [162]:
old_macdonald("mansi")

In [23]:
#2

def master_yoda(text):
    wordlist=text.split()
    print(wordlist)
    for x in wordlist:
        new_words=wordlist[::-1]
    return " ".join(new_words)

master_yoda("aa bbb ccc")

In [24]:
master_yoda("aa bbb ccc")

['aa', 'bbb', 'ccc']

'ccc bbb aa'

In [15]:
#join

In [16]:
mylist=["a","b","c"]

In [18]:
"".join(mylist)

'abc'

In [20]:
"!!".join(mylist)

'a!!b!!c'

In [28]:
#3.

def almost_there(num):
     return (abs(100-n)<=10) or (abs(200-n)<=10)

In [29]:
def almost_there(10)

SyntaxError: invalid syntax (<ipython-input-29-165b8d0abf98>, line 1)

In [30]:
#Level 2

In [39]:
#1

def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
        #if nums[i:i+2]==[3,3]
            return True
        
    return False

In [40]:
has_33([1,2,3,3])

True

In [41]:
has_33([1,2,1,3,4,3])

False

In [42]:
#2.

def paper_doll(text):
    res=''
    
    for char in text:
        res+=char+char+char
    return res

In [44]:
paper_doll("hello")

'hhheeellllllooo'

In [45]:
#3.

def blackjack(a,b,c):
    
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31: 
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [47]:
blackjack(11,11,11)

'BUST'

In [48]:
blackjack(9,9,9)

'BUST'

In [51]:
blackjack(2,4,14)

20

In [58]:
def summer_69(arr):
    total=0
    add=True
    
    for x in arr:
        while add:  #add while number!=6
            if x!=6:
                total+=x
                break
            else:
                add=False  #set to false when reaches 6
        while not add:
            if x!=9:
                break
            else:
                add=True
                break
    return total

In [59]:
summer_69([1,2,3])

6

In [64]:
summer_69([1,1,1,6,5,7,8,9,9,1,10])

23

In [65]:
#Lambda expressions, map, filter functions

In [1]:
#map

In [2]:
def square(num):
    return num**2

In [3]:
my_nums=[1,2,3,4,5]

In [4]:
map(square,my_nums)

In [26]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [7]:
print(map(square,my_nums))

<map object at 0x00000192379EB5B0>

In [9]:
list(map(square,my_nums))
#when we want  a list

[1, 4, 9, 16, 25]

In [10]:
def splicer(mystr):
    if len(mystr)%2==0:
        return 'even'
    else:
        return mystr[0]

In [12]:
names=("andy","eve","sally")

In [13]:
list(map(splicer,names))

['even', 'e', 's']

In [16]:
#Filter functions

#return iterator

In [17]:
def check_even(num):
    return num%2==0

In [18]:
mynums=[1,2,3,4,5,6]

In [19]:
#to grab even nums, we use filter function
#filters based on the condition

In [20]:
filter(check_even,mynums)

In [22]:
list(filter(check_even,mynums))
#if we want a list

[2, 4, 6]

In [28]:
for item in filter(check_even,mynums):
    print(item)

2
4
6

In [39]:
#LAMBDA

#one time functions
#no names
#we use map and filter

In [32]:
def square(num):
     return num**2

In [33]:
square(3)

9

In [36]:
square=lambda num: num**2

In [37]:
square(5)

25

In [40]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [41]:
list(filter(lambda num: num%2==0,mynums))

[2, 4, 6]

In [42]:
names

('andy', 'eve', 'sally')

In [44]:
list(map(lambda name:name[0],names))

['a', 'e', 's']

In [45]:
list(map(lambda name:name[::-1],names))

['ydna', 'eve', 'yllas']

In [46]:
names

('andy', 'eve', 'sally')

In [48]:
#more examples

In [49]:
#NESTED STATEMENTS AND SCOPES

In [50]:
x=25

def printer():
    x=50
    return x

In [51]:
print(x)

25

In [52]:
printer()

50

In [53]:
# LEGB RULE

In [54]:
lambda num:num**2 
#num is local to the lambda

In [61]:
#GLOBAL
name="this is a GLOBAL string"

def greet():
    
    #ENCLOSING
    
    name="Sammy"

    def hello():
        #LOCAL
        print("hello "+ name)
    hello()
    
greet()

hello Sammy

In [62]:
len

In [65]:
x=50

def func(x):
    print(f'X is {x}')
    
    x=200
    print(f'locally x is {x}')

In [66]:
func(x)

X is 50
locally x is 200

In [67]:
#LOCAL AND GLOBAL SCOPE

In [68]:
#Methods and Functions Homework

In [70]:
#1.

def vol(rad):
    
    return (4/3)*(3.14)*(rad*rad*rad)

In [72]:
vol(2)

33.49333333333333

In [103]:
#2.

def ran_check(num,low,high):
    
   
        if num>=low or num<=high:
         print(f"{num} is in between {low} and {high}")
        else:
            pass
#range we can use

In [104]:
ran_check(5,2,7)

5 is in between 2 and 7

In [84]:
def ran_bool(num,low,high):
    
    if num>=low or num<=high:
        return True
    else:
            pass

In [85]:
ran_bool(4,1,10)

True

In [107]:
#3.

def up_low(s):
    
    up1=0
    low1=0
    wordlist=s.split()
    print(wordlist)
    for x in s:
        if x.isupper():
            up1=up1+1
        elif x.islower():
                low1=low1+1
        else:
            pass
    print(up1)
    print(low1)

In [109]:
up_low("Hello There how are YOU")

['Hello', 'There', 'how', 'are', 'YOU']
5
14

In [113]:
#4.

def unique_list(lst):
    
    newlst=[]
    
    for num in lst:
        if num not in newlst:
            newlst.append(num)
    return newlst

In [116]:
unique_list([111,111,111,222,5,4,2222,6,6,6])

[111, 222, 5, 4, 2222, 6]

In [123]:
#5.

def multiply(numbers):
    total=1
    for x in numbers:
         total=total*x
    print(total)

In [127]:
multiply([1,2,3,-4])

-24

In [1]:
#6. PALINDROME

In [3]:
x = '.gnidaer rof sknahT'

In [4]:
x[::-1]

'Thanks for reading.'

In [9]:
def reverse(input_string):
...     new_string = ''
...     for character in input_string:
...             new_string = character + new_string 
...     return new_string

In [10]:
reverse("hi there")

'ereht ih'

In [18]:
def w_reverse(input_string):
...     new_string = ''
...     count = len(input_string) - 1
...     while count >= 0:
...             new_string = new_string + input_string[count]
...             count = count - 1
...     return new_string

In [19]:
w_reverse('?uoy era woH')

'How are you?'

In [20]:
s="Python here"

In [26]:
revnew=''.join(reversed(s))  #buitin

In [27]:
print(revnew)

ereh nohtyP

In [35]:
def list_rev(inp_str):
    inputlist=list(inp_str)
    print(inputlist)
    
    inputlist.reverse() #built in method for a list
    
    rev_str="".join(inputlist)
    
    print(f"reveresd string is: {rev_str}")

In [36]:
list_rev("hey there")

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']
reveresd string is: ereht yeh

In [53]:
#6. PALINDROME

def palindrome(s):
    
    #remove spaces first
    s=s.replace(' ','')   
    print(f"after removing space our string will be {s}")
    
    #check if str==revstr
    
    return s==s[::-1]

In [55]:
palindrome("kayak")

after removing space our string will be kayak

True

In [56]:
my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)  #works for a list

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

In [58]:
#7. PANGRAM

import string  #module

def ispanagram(str1,alphabet=string.ascii_lowercase):
    
    #create a set of the alphabet
    alphaset=set(alphabet)
    
    #remove spaces from ip str
    str1=str1.replace(' ','')
    
    
    #convert all into lowercase
    str1=str1.lower()
    
    #grab all unique letters from the string set()
    str1=set(str1)
    

    #alphabet set==string set input check
    return str1==alphaset

In [59]:
ispanagram("The quick brown fox jumps over the lazy dog")

True

In [60]:
ispanagram("abcdef")

False